body {
  background: #f2f2f2;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  padding-left: 20px;
}

.navbar {
  background-color: black;
  border-radius: 6px;
}
.navbar ul {
  overflow: auto;
}
.navbar li {
  float: left;
  list-style: none;
  margin: 13px 20px;
}
.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover {
  color: red;
}

.title {
  text-transform: capitalize;
}
.item {
  padding: 4px;
  background: #f2f2f2;
}
.item::first-letter {
  text-transform: capitalize;
}
.link {
  padding: 10px 5px 10px 0;
  color: #333;
  text-decoration: none;
}
.link:hover {
  color: #8c8c8c;
}
.underline {
  text-decoration: underline;
}

.dog-image {
  max-width: 500px;
  max-height: 500p;
}

.item-post {
  margin-bottom: 16px;
}

.post-title {
  padding: 0;
  margin: 0;
}

.post-title::first-letter {
  text-transform: capitalize;
}

.post-body {
  padding: 0;
  margin: 4px 0 0;
}

.post-body::first-letter {
  text-transform: capitalize;
}

.add-new-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 20px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-element-input {
  min-height: 24px;
  border: 1px solid black;
  border-radius: 4px;
}
button {
  margin-top: 10px;
  min-height: 30px !important;
  cursor: pointer;
  background: black;
  color: white;
}
button:hover {
  background-color: #565656;
  border: 1px solid #565656;
}

.form-element-label {
  margin-bottom: 4px;
}
